@import "/home/abdalrahman/.config/wofi/catppuccin-macchiato.css";

#window {
all:unset;
background: rgba(30,30,46,0.6);
/*background-color: --wofi-color0;*/
color: --wofi-color2;
border: 2px solid --wofi-color1;
border-radius: 0px;
}

#outer-box {
margin: 5px;
opacity: 0.80;
/* border: 2px solid @maroon; */
background-color: @mantle;
border-radius: 10;
}

#input {
margin: 2px;
border: 2px solid @lavender;
background-color: @surface0;
color: #f8f8f2;
font-size: 18px;
}

#inner-box {
/* margin: 5px; */
background-color: @base;
}

#scroll {
margin: 2px;
border: 2px solid @pink;
background-color: @base;
font-size: 16px;
color: #f8f8f2;
border-radius: 3;
}

#scroll label {
margin: 2px 0px;
}

#entry {
margin: 0px 2px;
background-color: @base;
border: 2px;
}
#entry:selected {
background-color: @surface1;
/* border: 2px solid @mauve; */
}

#img {
margin: 5px;
}
#img:selected {
background-color: @surface1;
}

#text {
margin: 5px;
border: none;
color: @text;
}
#text:selected {
background-color: @surface1;
}
